DISCORD_TOKEN=dan_token_bot_cua_ban_o_day
CLIENT_ID=id_ung_dung_discord_cua_ban
GUILD_ID=id_server_discord_de_test_lenh_nhanh_khong_bat_buoc
YTDL_NO_UPDATE=1
# Chi can khi host bi YouTube chan IP (VPS/cloud): duong dan file cookies.txt (Netscape format)
# YTDL_COOKIES=cookies.txt
